<!DOCTYPE html>
<html lang="en" ng-app="asgeirApp">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Messages</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/underscore.min.js"></script>
  <script src="/js/controllers.js"></script>
</head>
<%# current_task_id can be nil %>
<body id="my-body" ng-controller="TaskListCtrl" 
		ng-init="init(<%= @user.id %>, '<%= @user.handle %>', '<%= current_task_id %>', '<%= current_task_priority %>')">

	<div class="task-header">
		<!-- <div class="th-status"><span class="glyphicon glyphicon-play-circle" /></div> -->
		<div class="th-main">
			Tasks
			<span class="th-actions th-lite" onclick="window.open('/tasks/', 'winAdmin')">
				[ Admin ]
			</span>
			<!--<span class="th-actions" ng-click="resetInProgress()" ng-show="currentTaskId">
				[ Clear "in progress" status ]
			</span>-->
		</div>
	</div>

	<!-- TODO: Use bootstrap "alert-dismissible alert-danger" instead of "panel panel-danger" -->
	<div ng-show="error" class="panel panel-danger error">
		<div class="panel-heading">ERROR! {{error}}</div>
		<div class="panel-body" ng-click="clearError()">
			[ Close ]
		</div>
	</div>

	<form id="task-form">
		<!-- <div ng-show="!currentTaskId" class="task-main task-info">What are you currently working on?</div> -->
		<div class="task" ng-class-even="'task-even'" ng-repeat="task in tasks" ng-class="{'bg-success': (task.id == currentTaskId)}">
			<%# XXX: Use ng-change instead of ng-click? %>
			<div class="task-status" ng-click="setCurrentTask(task.id)">
				<input type="radio" ng-model="$parent.currentTaskId" name="current" ng-value="task.id"/>
			</div>
			<div class="task-main">
				<div class="task-title"><span>{{task.title}}</span></div>
			</div>
		</div>
		<div ng-click="resetInProgress()" ng-show="currentTaskId">
			<!-- <div class="task-main task-clear">[ Clear "in progress" status ]</div> -->
			<div class="task-main"><button type="button" class="btn btn-default btn-clear">Clear</button></div>
		</div>
	</form>

	<div ng-model-"tasks" ng-hide="tasks">
		No tasks
	</div>

	<!-- <div class="task-header">
		<div class="th-status"></div>
		<div class="th-main">
			Messages
		</div>
	</div> -->

	<div class="msg-header">
		Messages
	</div>

	<div class="msg-box">
		<div class="msg-list">
			<div id="msg-{{message.id}}" class="msg-li" ng-repeat="message in messages" ng-class-odd="'msg-odd'">
				<div><span class="msg-handle">{{message.user.handle}}:</span> {{message.msg}}</div>
			</div>
		</div>
		<!-- XXX: Rename msg to draft -->
		<input type="text" name="msg" class="msg-draft" ng-model="draftMessage" placeholder="Send a message" ng-keypress="submitOnEnter($event)" />
		<button type="button" class="btn btn-default" ng-click="sendMessage()">Send</button>
	</div>

	<script>
		// XXX: Scroll to last message after messages have loaded and DOM has updated

		function initScroll() {
			console.log("Scrolling to last message...");
			var ARBITRARY_BIG_NUMBER = 10000;
			jQuery(".msg-list").scrollTop(ARBITRARY_BIG_NUMBER);
		}

		$(document).ready(function() {
			setTimeout(function(){initScroll();}, 200);
			//initScroll();
	  });
	</script>
</body>
</html>