<!DOCTYPE html>
<html lang="en" ng-app="asgeirApp">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Task Admin</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
  	input[type='submit'] {
  		width: 65px;
  	}
  </style>
</head>
<body>

<!-- 	<div class="task-header">
		<div class="th-status"></div>
		<div class="th-main">
			Task Admin
		</div>
	</div> -->

	<!-- <div class="container-fluid"> -->
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Priority <!-- <span style="font-weight: lighter"> -->(1&nbsp;=&nbsp;highest)<!-- </span> --></th>
				<th>Actions</th>
			</tr>

			<% for task in @task_list %>
				<form method="POST" action="/task/save/<%= task.id %>">
					<tr data-action="/task/save/<%= task.id %>">
						<td><input type="text" name="title" value="<%= task.title %>" size="30" /></td>
						<td><input type="text" name="priority" value="<%= task.priority %>" size="4" /></td>
						<td><button type="button" class="btn btn-primary btn-update">Update</button></td>
					</tr>
				</form>
			<% end %>
			<!-- "New task" form -->
			<form method="POST" action="/task/create">
				<tr data-action="/task/save/">
					<td>
						<input type="text" name="title" value="" size="30" placeholder="New task" />
					</td>
					<td>
						<input type="text" name="priority" value="" size="4" placeholder="100" />
					</td>
					<td><button type="button" class="btn btn-primary btn-create">Create</button></td>
				</tr>
			</form>
		</table>
	<!-- </div> -->

</body>
</html>