/* TASKS: HEADER */
.task-header {
	/*font-weight: lighter;*/
	background-color: #222;
	color: white;
	/*font-size: small;*/
	padding: 1px 0;
}
.th-status {
	/*font-size: medium;*/
	float: left;
	width: 45px;
	padding-left: 8px;
	padding-top: 1px;
}
.th-main {
	margin-left: 3px;
}
.th-actions {
	float: right;
	padding-right: 3px;
}
.th-actions:hover {
	cursor: pointer;
}
.th-lite {
	font-weight: lighter;
}

/* TASKS: BODY */
.task {
	padding-top: 3px;
	border-bottom: 1px solid #ddd;
}
.task-status {
	float: left;
	width: 30px;
}
.task-status input {
	margin-left: 8px;
}
.task-title {
	/*font-weight: bold;*/
	/*font-size: 15px;*/
	margin-bottom: 4px;
}
.task-main {
	margin-left: 30px;
}
.msg-handle {
	font-weight: bold;
}
.task-info {
	padding-top: 15px;
	padding-bottom: 10px;
	font-style: italic;
}
.task-clear:hover {
	cursor: pointer;
}

/* MESSAGES */

.msg-box input {
	margin: 5px 0 7px 3px;
	width: 335px;
	font-family: monospace;
}
.msg-list {
	max-height: 300px;
	overflow: auto;
}
.msg-odd {
	background-color: #f9f9f9;
}
.msg-li {
	padding-left: 3px;
	padding-right: 3px;
}
.btn {
	font-size: 11px;
}

/* MSG LIST: HEADER */

.msg-header {
	background-color: #222;
	color: white;
	padding: 1px 0 0 3px;
}

/* MISC */
.error {
	margin: 15px;
}